body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 3rem;
}
.fa-magnifying-glass{
    font-size: 1.5rem;
}
.btn-outline{
    background-color: #fe424d!important;
    color: #fff !important;
    border-radius: 50% !important;
    height: 3rem;
    width: 3rem;
}

.search-box{
    width: 35rem !important;
    margin-left: auto;
    
}

.search-inp{
    border-radius: 35px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;

}

.nav-link {
    color: #222222 !important ;
}


.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ebebeb;
    height: 8rem;
}
.f-info-social {
    width: 100%;
    font-size: 1.5rem;
}
.f-info-social i {
    margin-right: 1rem;
}
.f-info-links {
    width: 100%;
}